apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

commonLabels:
  app: camel-k
  kind: operator
  master: argocd-application

resources:
  - namespace.yaml
  - operatorgroup.yaml
  - subscription.yaml
  - integration-platform-instance.yaml
