apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

commonLabels:
  app: istio
  kind: controlplane
  master: argocd-application

namespace: istio-system

resources:
  - namespace.yaml
  - controlplane.yaml
